{% extends '_base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container-fluid rounded jumbotron-fluid text-center jbtron mx-auto my-3">
        <div class="jumbotron bgc rounded my-2 py-2 {{ 'mb-4' if get_flashed_messages() }}">
            <h1>Create your Account</h1>
        </div>
        {{ errors() }}
    </div>
    <div class="container-fluid rounded jumbotron-fluid jbtron mx-auto my-3">
        <div class="jbtron pt-1 my-2">
            <form method="POST" onsubmit="submit_registration_form.disabled=true;loadForm(this,'submitRegistrationForm');">
                {{ form.hidden_tag() }}
                <div class="input-group input-group-sm input-group-smaller my-1">
                    <div class="input-group-prepend">
                        <span data-bs-theme="dark">{{ form.registration_username.label( class="formInputPrefix input-group-text", id="new_users_username_label") }}</span>
                    </div>
                    {{ form.registration_username }}{{ spacer(2) }}
                </div>
                <div class="input-group input-group-sm input-group-smaller my-1">
                    <div class="input-group-prepend">
                        <span data-bs-theme="dark">{{ form.registration_first_name.label( class="formInputPrefix input-group-text", id="new_users_full_name_label") }}</span>
                    </div>
                    {{ form.registration_first_name }}{{ spacer(2) }}
                    {{ form.registration_last_name }}{{ spacer(2) }}
                </div>
                <div class="input-group input-group-sm input-group-smaller my-1">
                    <div class="input-group-prepend">
                        <span data-bs-theme="dark">{{ form.registration_age.label( class="formInputPrefix input-group-text", id="new_users_age_label") }}</span>
                    </div>
                    {{ form.registration_age }}{{ spacer(2) }}
                </div>
                <div class="input-group input-group-sm input-group-smaller my-1">
                    <div class="input-group-prepend">
                        <span data-bs-theme="dark">{{ form.registration_email_address.label( class="formInputPrefix input-group-text", id="new_users_email_address_label") }}</span>
                    </div>
                    {{ form.registration_email_address }}{{ spacer(2) }}
                </div>
                <div class="input-group input-group-sm input-group-smaller my-1">
                    <div class="input-group-prepend">
                        <span data-bs-theme="dark">{{ form.registration_phone_number.label( class="formInputPrefix input-group-text", id="new_users_phone_number_label") }}</span>
                    </div>
                    {{ form.registration_phone_number }}{{ spacer(2) }}
                </div>
                <div class="input-group input-group-sm input-group-smaller my-1">
                    <div class="input-group-prepend">
                        <span data-bs-theme="dark">{{ form.registration_password.label( class="formInputPrefix input-group-text", id="new_users_password_label") }}</span>
                    </div>
                    {{ form.registration_password }}{{ spacer(2) }}
                    {{ form.registration_verify_password }}{{ spacer(2) }}
                </div>
                <div class="jumbotron bgc p-2 rounded my-2">
                    {{ form.submit_registration_form }}
                    <div class="container-fluid jumbotron rounded d-flex flex-row fgc my-2 py-3">
                        Already Have an account?&nbsp;&nbsp;<a class="btn btn-sm btn-secondary py-0" href="{{ url_for('account.login_page') }}">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('account.static', filename='js/_register.js')}}"></script>
{% endblock %}
