{% extends '_base.html' %}
{% block title %}Settings{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('account.static', filename='css/_settings.css') }}">
{% endblock %}
{% block content %}
    <div class="rounded container-fluid mx-auto my-3">
        <div class="rounded jumbotron text-center jbtron mx-auto p-2 py-1 my-2">
            <div class="jumbotron rounded fgc p-3 my-2 {{ 'mb-4' if get_flashed_messages() }}">
                <h1><a id='profile_picture_anchor' type="button" data-bs-toggle="modal" data-bs-target="#Modal-profile_picture_anchor"><img id='profile_picture' width='64px' hight='64px' src="{{ current_user.profile_picture }}" alt="..." width='24px' hight='24px' class="rounded-circle profile_picture_class"></a>&nbsp;Account Settings</h1>
                <form method="POST" enctype="multipart/form-data">
                    {{ image_form.hidden_tag() }}
                    <input id="image_form_name" name="form_name" type="hidden" value="image_form">
                    {% macro profile_picture_anchor_body() %}
                        {{ image_form.selected_image(type='file', class='btn btn-light bg-light mt-2 col-12') }}{{ spacer(2) }}
                        {{ image_form.file_path( id='image_file_path', class="col-12 mb-2", readonly=True) }}
                    {% endmacro %}
                    {% macro profile_picture_anchor_footer() %}
                    <button type="button" class="btn btn-secondary" id='save_image_file'>Update</button>
                    {{ image_form.submit(class='btn btn-primary', id='image_form_id', disabled=True) }}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {% endmacro %}
                    {{ modal(
                        modal_id='profile_picture_anchor',
                        button_id='profile_picture_anchor',
                        modal_title='Profile Picture',
                        modal_header=True,
                        modal_body=True,
                        modal_footer=True,
                        body=profile_picture_anchor_body(),
                        body_classes='text-left',
                        footer=profile_picture_anchor_footer(),
                        in_button=False,
                        keep_close=False
                    ) }}
                </form>
            </div>
            {{ errors() }}
        </div>
    </div>
    <div class="container-fluid rounded mx-auto my-3">
        <div class="jumbotron rounded p-2 mx-auto my-3 jbtron">
            <div class="jumbotron rounded bgc p-2 my-2">
                <div class="jumbotron rounded fgc p-3 my-2">
                    <p><b>Name:</b><span id="full_name_display"> {{ current_user.name.first_name }} {{ current_user.name.last_name }}</span></p>
                    <p><b>Username:</b> {{ current_user.username }}</p>
                    <p><b>Phone Number:</b><span id="phone_number_display"> {{ current_user.phone_number.phone_number }}</span></p>
                    <p><b>Email Address:</b><span id="email_address_display"> {{ current_user.email_address.email_address }}</span></p>
                    <p><b>Member Since:</b> {{ current_user.creation_date }}</p>
                    <p><b>Account Balance:</b> ${{ current_user.balance.balance }}</p>
                    <p><b>User Group:</b> {{ current_user.groups.user_group }}</p>
                </div>
                <div class="jumbotron fgc rounded p-3 mt-4 mb-2">
                    <form method="POST">
                        {{ delete_form.hidden_tag() }}
                        <input id="delete_form_name" name="form_name" type="hidden" value="delete_form">
                        {% macro delete_title() %}
                            Delete {{ current_user.username }}
                        {% endmacro %}
                        {% macro delete_body() %}
                            Are you sure you want to delete {{ current_user.username }}? This action can not be undone. Insert <b>{{ current_user.username }}</b> below to confirm the deletion of this account.
                        {% endmacro %}
                        {% macro delete_footer() %}
                            {{ delete_form.username(placeholder='username' ) }}
                            {{ delete_form.submit(class='btn btn-danger', id='confirmDeletingAccount_id') }}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {% endmacro %}
                        {{ modal(
                            modal_id=secrets.token_hex(12)|upper,
                            button_classes='btn text-center btn-outline-danger col-12',
                            button_text=delete_title(),
                            button_id='deletingAccount_id',
                            modal_title='Delete Account',
                            modal_header=True,
                            modal_body=True,
                            modal_footer=True,
                            body=delete_body(),
                            footer=delete_footer(),
                            keep_close=False
                        ) }}
                    </form>{{ spacer(1) }}
                    <form method="POST">
                        {{ edit_form.hidden_tag() }}
                        <input id="edit_form_name" name="form_name" type="hidden" value="edit_form">
                        {% macro edit_body() %}
                            <div class="input-group input-group-sm input-group-smaller mb-1 mt-2">
                                <div class="input-group-prepend">
                                    <span class="inptbx input-group-text", id="edit_full_name_label">Name</span>
                                </div>
                                {{ edit_form.first_name( class="inptbx form-control", placeholder="first name", id="edit_first_name") }}{{ spacer(2) }}
                                {{ edit_form.last_name( class="inptbx rounded-end form-control", placeholder="last name", id="edit_last_name") }}{{ spacer(2) }}
                            </div>
                            <div class="input-group input-group-sm input-group-smaller my-1">
                                <div class="input-group-prepend">
                                    <span>{{ edit_form.email_address.label( class="inptbx input-group-text", id="inputGroupPrepend5") }}</span>
                                </div>
                                {{ edit_form.email_address( class="inptbx rounded-end form-control", placeholder="ex. example@example.com", id="edit_email_address") }}{{ spacer(2) }}
                            </div>
                            <div class="input-group input-group-sm input-group-smaller mb-2 mt-1">
                                <div class="input-group-prepend">
                                    <span>{{ edit_form.phone_number.label( class="inptbx rounded-end input-group-text", id="edit_phone_number_label") }}</span>
                                </div>
                                {{ edit_form.phone_number( class="inptbx rounded-end form-control", placeholder="ex. 123-456-7890", id="edit_phone_number") }}{{ spacer(2) }}
                            </div>
                        {% endmacro %}
                        {% macro edit_footer() %}
                            <button type="button" class="btn btn-primary" id='ShowSavedChanges_id' data-bs-toggle="modal" data-bs-target="#Modal-ShowSavedChanges_id" data-bs-dismiss="modal" aria-label="Close">Preview</button>
                        {% endmacro %}
                        {{ modal(
                            modal_id=secrets.token_hex(12)|upper,
                            button_classes='btn text-center btn-outline-info col-12',
                            button_text='Edit Profile',
                            modal_title=delete_title(),
                            modal_header=True,
                            modal_body=True,
                            modal_footer=True,
                            body=edit_body(),
                            footer=edit_footer(),
                            button_id='SaveChanges_id'
                        ) }}
                        {% macro confirm_body() %}
                        <div class="container jumbotron fgc p-3 ">
                            <h5><b><i>{{ edit_form.first_name.label }}</i></b></h5>
                            <p><b>Old: </b>{{ current_user.name.first_name }}{{ spacer(1) }}<b>New: </b><span id='first_name'></span></p>
                        </div>
                        <div class="container jumbotron fgc p-3 ">
                            <h5><b><i>{{ edit_form.last_name.label }} </i></b></h5>
                            <p><b>Old: </b>{{ current_user.name.last_name }}{{ spacer(1) }}<b>New: </b><span id='last_name'></span></p>
                        </div>
                        <div class="container jumbotron fgc p-3 ">
                            <h5><b><i>{{ edit_form.email_address.label }} </i></b></h5>
                            <p><b>Old: </b>{{ current_user.email_address.email_address }}{{ spacer(1) }}<b>New: </b><span id='email_address'></span></p>
                        </div>
                        <div class="container jumbotron fgc p-3 ">
                            <h5><b><i>{{ edit_form.phone_number.label }}</i></b></h5>
                            <p><b>Old: </b>{{ current_user.phone_number.phone_number }}{{ spacer(1) }}<b>New: </b><span id='phone_number'></span></p>
                        </div>
                        {% endmacro %}
                        {% macro confirm_footer() %}
                            <button type="button" class="btn btn-primary" id="BackSavedChangesConfirmed_id" data-bs-dismiss="modal" aria-label="Close">Back</button>
                            {{ edit_form.submit(class='btn btn-info', id='SavedChangesConfirmed_id') }}
                        {% endmacro %}
                        {{ modal(
                            modal_id='ShowSavedChanges_id',
                            modal_title='Save Changes',
                            modal_header=True,
                            modal_body=True,
                            modal_footer=True,
                            body=confirm_body(),
                            footer=confirm_footer(),
                            in_button=False
                        ) }}
                    </form>{{ spacer(1) }}
                    <form method="POST">
                        {{ password_form.hidden_tag() }}
                        <input id="password_form_name" name="form_name" type="hidden" value="password_form">
                        {% macro reset_body() %}
                            <div class="input-group input-group-sm input-group-smaller mb-1 mt-2">
                                <div class="input-group-prepend">
                                    <span>{{ password_form.old_password.label( class="inptbx input-group-text", id="users_old_password_label") }}</span>
                                </div>
                                {{ password_form.old_password( class="inptbx rounded-end form-control", placeholder="old password", id="users_old_password") }}{{ spacer(2) }}
                            </div>
                            <div class="input-group input-group-sm input-group-smaller my-1">
                                <div class="input-group-prepend">
                                    <span>{{ password_form.new_password.label( class="inptbx input-group-text", id="users_password_label") }}</span>
                                </div>
                                {{ password_form.new_password( class="inptbx rounded-end form-control", placeholder="new password", id="users_password") }}{{ spacer(2) }}
                            </div>
                            <div class="input-group input-group-sm input-group-smaller mb-2 mt-1">
                                <div class="input-group-prepend">
                                    <span>{{ password_form.confirm_new_password.label( class="inptbx input-group-text", id="users_confirm_new_password_label") }}</span>
                                </div>
                                {{ password_form.confirm_new_password( class="inptbx rounded-end form-control", placeholder="confirm password", id="users_confirm_new_password") }}{{ spacer(2) }}
                            </div>
                        {% endmacro %}
                        {% macro reset_footer() %}
                            {{ password_form.submit(class='btn btn-warning', id='confirmResetingYourPassword_id') }}
                        {% endmacro %}
                        {{ modal(
                            modal_id=secrets.token_hex(12)|upper,
                            button_classes='btn text-center btn-outline-warning col-12',
                            button_text='Reset Password',
                            modal_title='Reset Password',
                            button_id='resetYourPassword_id',
                            modal_header=True,
                            modal_body=True,
                            modal_footer=True,
                            body=reset_body(),
                            footer=reset_footer(),
                        ) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('account.static', filename='js/_settings.js')}}"></script>
{% endblock %}
