{% extends '_base.html' %}
{% block title %}Comments{% endblock %}
{% block content %}
    <div class="container-fluid jumbotron rounded p-2 ml-4 mr-4 text-center jbtron">
        <div class="jumbotron rounded fgc p-3 mt-3 {{ 'mb-4' if get_flashed_messages() }}">
            <form method="POST" onsubmit="loadForm(this,'FormValidationFormId','form_validation');">
                {{ form.hidden_tag() }}
                {{ form.inputbox }}
                <button id='form_validation_btn' class="btn btn-lg btn-outline-info position-relative">
                    submit{{ form.submit }}
                </button>
            </form>
        </div>
        {{ errors() }}
    </div>
    <script src="{{ url_for('sandbox.static', filename='js/_form_validation.js')}}"></script>
{% endblock %}
