asttokens
attrs
backcall
bcrypt
beautifulsoup4
blinker
certifi
chardet
click
colorama
comm
command-not-found
cryptography
cupshelpers
dbus-python
debugpy
decorator
defer
distro
distro-info
dnspython
docopt
email-validator
executing
Flask
Flask-Bcrypt
flask-form
Flask-Login
Flask-SQLAlchemy
Flask-WTF
galternatives
greenlet
gunicorn
gyp
httplib2
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
jeepney
Jinja2
jsonschema
jupyter_client
jupyter_core
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lubuntu-update-notifier
MarkupSafe
matplotlib-inline
more-itertools
nest-asyncio
netifaces
numpy
oauthlib
olefile
packaging
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycairo
pycups
PyGObject
PyJWT
PyMySQL
pyparsing
PyQt5
PyQt5-sip
pyrsistent
python-apt
python-dateutil
python-debian
python-dotenv
pyxdg
PyYAML
pyzmq
reportlab
requests
SecretStorage
six
soupsieve
SQLAlchemy
stack-data
systemd-python
texttable
tornado
traitlets
transaction
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
wcwidth
webassets
websocket-client
Werkzeug
wtf
WTForms
xdg
xkit
zipp
zope.interface
