#qualityQueries {
    background-image: url("https://cdn.wallpapersafari.com/98/65/JT1jNk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    background-size: cover;
    align-items: center;
    position: relative;
    display: flex;
    height: 50vh;
}

.mySqlImage {
    background-image: url("https://pngimg.com/uploads/mysql/mysql_PNG4.png");
    background-position: center;
    background-size: 32px;
}


#qualityQueriesCarouselContainer {
    height: 75%
}


.qualityQueriesCarouselItem {
    object-fit: cover;
    height: 100%;
}

