#qualityQueries {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#qualityQueries {
    background-image: url("https://cdn.wallpapersafari.com/98/65/JT1jNk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mySqlImage {
    background-image: url("https://pngimg.com/uploads/mysql/mysql_PNG4.png");
    background-position: center;
    background-size: 32px;
}


#carouselCaptions {
    height: 85vh;
    position: relative;

}

#carouselImages {
    background-size:inherit;
    height: 90%;
}
.carousel {
    max-width: 1px;
    margin: 0 auto;
}
