:root {
    --bk: #000000;
    --bk1:  #212121;
    --bk2: #161617;
    --bk3: #343A40;
    --bk4: #212529;
    --bk5: #51484f;
    --bk6: #353839;
    --wt1: #FAFAFA;
    --wt2:  #E9ECEF;
    --wt3: #E9EBEC;
    --nb: #1F51FF;
    --bu1: #0b498b;
    --db: #1E90FF;
    --y1: #FFC107;
    --y2: #FFE083;
    --r1: #CF3342
}

body {
    background-color: var(--bk1);
    overflow-y: auto;
    overflow-x: hidden;
}

.close-modal {
    background-color: var(--r1);
    color: var(--wt1);
}

#content {
    color: var(--wt1);
}


.fgc {
    background-color: var(--bk2);
}

.bgc {
    background-color: var(--bk1);
}

.obgc {
    background-color: var(--bk6);
}
.jbtron {
    background-color: var(--bk3);
    color: var(--wt2);
}

.inptbx {
    background-color: var(--wt1);
    color: var(--bk2);
}

.dropdown-item:not(:active) {
    background-color: var(--bk3);
}

.dropdown-item:hover {
    background-color: var(--bk2);
}

.dropdown-item:active {
    background-color: var(--nb);
}

span .dropdown-toggle:hover {
    background-color: var(--y1);
    border-color: var(--y2);
    color: var(--bk);

}

.dropdown-toggle:focus {
    background-color: var(--bk3);
    color: var(--wt3);
}

.btn-outline-dark:not(:focus) {
    background-color: var(--bk3);
    color: var(--wt1);
    border-color: var(--wt1);
}

.btn-outline-dark:focus {
    background-color: var(--bk3);
    border-color: var(--y1);
    color: var(--y1);
}

span .dropdown-menu {
    background-color: var(--bk1);
    color: var(--wt1);
    border: 3px solid var(--wt1);
    border-radius: 25px;
}

.bkg {
    background-color: var(--bk4);
    color: var(--wt1);
    border: 3px solid var(--wt1);
    border-radius: 25px;

}

#navigationBar {
    width: 100vw;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@keyframes slide {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.input-group-smaller .form-control {
    height: 38px;
    font-size: 14px;
}
