:root {
    --bk0: #000000;
    --bk1: #212121;
    --bk2: #161617;
    --bk3: #212529;
    --bk4: #2B3035;

    --gr0: #808080;
    --gr1: #51484f;
    --gr2: #353839;
    --gr3: #343A40;
    --gr4: #303443;

    --wt1: #FAFAFA;
    --wt2:  #E9ECEF;
    --wt3: #E9EBEC;

    --blu0: #1F51FF;
    --blu1: #0b498b;
    --blu2: #1E90FF;

    --ylw0: #FFC107;
    --ylw1: #FFE083;

    --rd0: #CF3342;
}

#DateandTime
{
    text-align: center;
    border: 2px solid var(--gr3);
    margin-inline: 15px;
    padding-inline: 15px;
    border-radius: 50px;
    background-image: -webkit-linear-gradient(top, var(--gr0), var(--gr4), var(--bk0), var(--gr4));
    padding-bottom: 4px;
    margin-top: 2px;
    position: absolute;
    top: 24px;
    right: 0px;
}

.formInputPrefix {
    border-radius: 0.25rem 0px 0px 0.25rem;
    border-width: 2px 1px 2px 1px;
    border-style: ridge inset ridge ridge;
    border-color: var(--bk2);
}

body {
    background-color: var(--bk1);
    overflow-y: auto;
    overflow-x: hidden;
}

.close-modal {
    background-color: transparent;
    border: transparent 0px none;
}

#content {
    color: var(--wt1);
}

.fgc {
    background-color: var(--bk2);
}

.bgc {
    background-color: var(--bk1);
}

.obgc {
    background-color: var(--gr2);
}
.jbtron {
    background-color: var(--gr3);
    color: var(--wt2);
}

.inptbx {
    background-color: var(--wt1);
    color: var(--bk2);
}

.dropdown-item:not(:active) {
    background-color: var(--gr3);
}

.dropdown-item:hover {
    background-color: var(--bk2);
}

.dropdown-item:active {
    background-color: var(--blu0);
}

span .dropdown-toggle:hover {
    background-color: var(--ylw0);
    border-color: var(--ylw1);
    color: var(--bk0);

}

.dropdown-toggle:focus {
    background-color: var(--gr3);
    color: var(--wt3);
}

.btn-outline-dark:not(:focus) {
    background-color: var(--gr3);
    color: var(--wt1);
    border-color: var(--wt1);
}

.btn-outline-dark:focus {
    background-color: var(--gr3);
    border-color: var(--ylw0);
    color: var(--ylw0);
}

span .dropdown-menu {
    background-color: var(--bk1);
    color: var(--wt1);
    border: 3px solid var(--wt1);
    border-radius: 25px;
}

.bkg {
    background-color: var(--bk3);
    color: var(--wt1);
    border: 3px solid var(--wt1);
    border-radius: 25px;

}

#navigationBar {
    /* width: 100vw; */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*
#paddingDiv {
    width: 100vw;
} */

/*
#footerBar {
    width: 100vw;
} */

@keyframes slide {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.input-group-smaller .form-control {
    height: 40px;
    font-size: 12px;
    border-style: ridge ridge ridge outset;
    border-width: 2px 2px 2px 1px;
    border-color: var(--bk2);
}
