{% macro errors() %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for catagory, message in messages %}
            <div class="alert alert-{{ catagory }}" role="alert">
                <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true" >&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endmacro %}

{% macro modal(button_text,button_classes,modal_id,modal_header,modal_title,header,header_classes,modal_body,body_classes,body,modal_footer,footer_classes,footer,content_classes,keep_close) %}

    {% if button_text is not defined %}
        {% set button_text = 'Button' %}
    {% endif %}

    {% if button_classes is not defined %}
        {% set button_classes = '' %}
    {% endif %}


    {% if modal_id is not defined %}
        {% set modal_id = 'modal_id' %}
    {% endif %}


    {% if content_classes is not defined %}
        {% set content_classes = '' %}
    {% endif %}


    {% if modal_header is defined %}

        {% if modal_title is not defined %}
            {% set modal_title = 'Modal Title' %}
        {% endif %}

        {% if header is defined %}
            {% set header = header|safe %}
        {% else %}
            {% set header = '' %}
        {% endif %}

        {% if header_classes is not defined %}
            {% set header_classes = '' %}
        {% endif %}

    {% else %}
        {% set modal_header = False %}
    {% endif %}


    {% if modal_body is defined %}

        {% if body_classes is not defined %}
            {% set body_classes = '' %}
        {% endif %}

        {% if body is defined %}
            {% set body = body|safe %}
        {% else %}
            {% set body = '' %}
        {% endif %}

    {% else %}
        {% set modal_body = False %}
    {% endif %}


    {% if modal_footer is defined %}

        {% if footer_classes is not defined %}
            {% set footer_classes = '' %}
        {% endif %}

        {% if footer is defined %}
            {% set footer = footer|safe %}
        {% else %}
            {% set footer = '' %}
        {% endif %}

        {% if keep_close is not defined %}
            {% set keep_close = True %}
        {% endif %}

    {% else %}
        {% set modal_footer = False %}
    {% endif %}


<button type="button" class="btn {{ button_classes }}" data-toggle="modal" data-target="#Modal-{{ modal_id }}">{{ button_text }}</button>

<div class="modal fade" id="Modal-{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel-{{ modal_id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content bg-dark border {{ content_classes }}">
            {% if modal_header %}
                <div class="modal-header {{ header_classes }}">
                    <h5 class="modal-title" id="ModalLabel-{{ modal_id }}">{{ modal_title }}</h5>
                    {{ header }}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% if modal_body %}
                <div class="modal-body {{ body_classes }}">
                    {{ body }}
                </div>
            {% endif %}
            {% if modal_footer %}
                <div class="modal-footer {{ footer_classes }}">
                    {% if keep_close %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {% endif %}
                    {{ footer }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endmacro %}

{% macro spacer(num) %}
    {% for i in range(1,num+1) %}<br>{% endfor %}
{% endmacro %}
