{% extends '_base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container-xl">
        <h1>Flask Submission Form</h1>
        <form method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email Address">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="submit" value="Submit"><br>
        </form>
    </div>
{% endblock %}
