{% extends '_base.html' %}
{% block title %}Info{% endblock %}
{% block content %}
    <div class="container-xl">
        <h1></b>Infomation Page</b></h1><br>
        <h5><b>Dialect:</b> {{ dialect }}</h5><br>
        <h5><b>Pool:</b> {{ pool }}</h5><br>
        <h5><b>Project Folder:</b> {{ wkdir }}</h5><br>
        <h5><b>Connection:</b> {{ conn }}</h5><br>
        <h5><b>Connection Fairy:</b> {{ fairy }}</h5><br>
        <h5><b>Proxy:</b> {{ proxy }}</h5><br>
        <h5><b>Metadata Reflect:</b> {{ reflect }}</h5><br>

        <h3><b>Table Names:</b></h3><h5>
            {% for names in table_names %}
                {{ names }}<br>
            {% endfor %}
        </h5>

        <h3><b>Staff Columns:</b></h3><h5>
            {% for column in staff_columns %}
                {{ column }}<br>
            {% endfor %}
        </h5>

    </div>
{% endblock %}
