{% extends '_base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container jumbotron p-2 text-center jbtron">
        <h1>Login to your Account</h1>
        {{ errors() }}
    </div>
    <div class="container jumbotron p-2 jbtron pt-3">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span>{{ form.username.label( class="inptbx input-group-text", id="inputGroupPrepend2") }}</span>
                </div>
                {{ form.username( class="inptbx form-control", placeholder="username", id="inputGroupPrepend2") }}<br><br>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span>{{ form.password.label( class="inptbx input-group-text", id="inputGroupPrepend2") }}</span>
                </div>
                {{ form.password( class="inptbx form-control", placeholder="password", id="inputGroupPrepend2") }}<br><br>
            </div>
            {{ form.submit(class="btn btn-primary btn-block mb-4")}}
            {{ form.remember_me(class="ml-3") }} {{ form.remember_me.label(class="mb-0") }}
        </form>
        <br><div class="container jumbotron fgc p-3 checkbox mb-2 pt-4">
            <h6>
                Do not have an account? <a class="btn btn-sm btn-secondary p-0 px-2 mx-2" href="{{ url_for('register_page') }}">Register</a>
            </h6>
        </div>
    </div>
{% endblock %}

