{% from "_macros.html" import testing  %}
{% extends '_base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
    <div class="container-xl">
        <div class="jumbotron p-2 text-center jbtron">
            <h1>Account Settings</h1>
            {{ errors() }}
        </div>
        <div class="jumbotron p-2 jbtron">
            <div class="jumbotron fgc p-3 ">
                <p><b>Name:</b><span id="full_name_display"> {{ user.name.first_name }} {{ user.name.last_name }}</span></p>
                <p><b>Username:</b> {{ user.username }}</p>
                <p><b>Phone Number:</b><span id="phone_number_display"> {{ user.phone_number.phone_number }}</span></p>
                <p><b>Email Address:</b><span id="email_address_display"> {{ user.email_address.email_address }}</span></p>
                <p><b>Member Since:</b> {{ user.creation_date }}</p>
                <p><b>Account Balance:</b> {{ user.balance.balance }}</p>
            </div>
            <div class="jumbotron fgc p-3 mb-2 pt-4">
                <form method="POST">
                    {{ delete_form.hidden_tag() }}
                    {% macro delete_title() %}
                        Delete {{ user.username }}
                    {% endmacro %}
                    {% macro delete_body() %}
                        Are you sure you want to delete {{ user.username }}? This action can not be undone. Insert <b>{{ user.username }}</b> below to confirm the deletion of this account.
                    {% endmacro %}
                    {% macro delete_footer() %}
                        {{ delete_form.username(placeholder='username' ) }}
                        {{ delete_form.submit(class='btn btn-danger') }}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {% endmacro %}
                    {{ modal(
                        modal_id=env.globals['secrets'].token_hex(12)|upper,
                        button_classes='btn-block btn-outline-danger',
                        button_text=delete_title(),
                        modal_title='Delete Account',
                        modal_header=True,
                        modal_body=True,
                        modal_footer=True,
                        body=delete_body(),
                        footer=delete_footer(),
                        keep_close=False
                    ) }}
                </form><br>
                <form method="POST">
                    {{ edit_form.hidden_tag() }}
                    {% macro edit_body() %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span>{{ edit_form.first_name.label( class="inptbx input-group-text", id="inputGroupPrepend4") }}</span>
                            </div>
                            {{ edit_form.first_name( class="inptbx form-control", placeholder="first name", id="inputGroupPrepend40") }}<br><br>
                            {{ edit_form.last_name( class="inptbx form-control", placeholder="last name", id="inputGroupPrepend41") }}<br><br>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span>{{ edit_form.email_address.label( class="inptbx input-group-text", id="inputGroupPrepend5") }}</span>
                            </div>
                            {{ edit_form.email_address( class="inptbx form-control", placeholder="ex. example@example.com", id="inputGroupPrepend50") }}<br><br>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span>{{ edit_form.phone_number.label( class="inptbx input-group-text", id="inputGroupPrepend6") }}</span>
                            </div>
                            {{ edit_form.phone_number( class="inptbx form-control", placeholder="ex. 123-456-7890", id="inputGroupPrepend60") }}<br><br>
                        </div>
                    {% endmacro %}
                    {% macro edit_footer() %}
                        <button type="button" class="btn btn-primary" id='ShowSavedChanges_id' data-dismiss="modal" aria-label="Close">Preview</button>
                    {% endmacro %}
                    {{ modal(
                        modal_id=env.globals['secrets'].token_hex(12)|upper,
                        button_classes='btn-block btn-outline-info',
                        button_text='Edit Profile',
                        modal_title=delete_title(),
                        modal_header=True,
                        modal_body=True,
                        modal_footer=True,
                        body=edit_body(),
                        footer=edit_footer(),
                        button_id='SaveChanges_id'
                    ) }}
                    {% macro confirm_body() %}
                    <div class="container jumbotron fgc p-3 ">
                        <h5><b><i>{{ edit_form.first_name.label }}</i></b></h5>
                        <p><b>Old: </b>{{ user.name.first_name }}<br><b>New: </b><span id='first_name'></span></p>
                    </div>
                    <div class="container jumbotron fgc p-3 ">
                        <h5><b><i>{{ edit_form.last_name.label }} </i></b></h5>
                        <p><b>Old: </b>{{ user.name.last_name }}<br><b>New: </b><span id='last_name'></span></p>
                    </div>
                    <div class="container jumbotron fgc p-3 ">
                        <h5><b><i>{{ edit_form.email_address.label }} </i></b></h5>
                        <p><b>Old: </b>{{ user.email_address.email_address }}<br><b>New: </b><span id='email_address'></span></p>
                    </div>
                    <div class="container jumbotron fgc p-3 ">
                        <h5><b><i>{{ edit_form.phone_number.label }}</i></b></h5>
                        <p><b>Old: </b>{{ user.phone_number.phone_number }}<br><b>New: </b><span id='phone_number'></span></p>
                    </div>
                {% endmacro %}
                {% macro confirm_footer() %}
                    {{ edit_form.submit(class='btn btn-info', id='SavedChangesConfirmed_id') }}
                {% endmacro %}
                {% set mid = env.globals['secrets'].token_hex(12)|upper %}
                <button type="button" style='display: none' id='SavedChanges_id' data-toggle="modal" data-target="#Modal-{{ mid }}"></button>
                {{ modal(
                    modal_id=mid,
                    modal_title='Save Changes',
                    modal_header=True,
                    modal_body=True,
                    modal_footer=True,
                    body=confirm_body(),
                    footer=confirm_footer(),
                    in_button=False
                ) }}
                </form><br>
                <form method="POST">
                    {{ password_form.hidden_tag() }}
                    {% macro reset_body() %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span>{{ password_form.old_password.label( class="inptbx input-group-text", id="inputGroupPrepend1") }}</span>
                            </div>
                            {{ password_form.old_password( class="inptbx form-control", placeholder="old password", id="inputGroupPrepend1") }}<br><br>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span>{{ password_form.new_password.label( class="inptbx input-group-text", id="inputGroupPrepend2") }}</span>
                            </div>
                            {{ password_form.new_password( class="inptbx form-control", placeholder="new password", id="inputGroupPrepend2") }}<br><br>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span>{{ password_form.confirm_new_password.label( class="inptbx input-group-text", id="inputGroupPrepend3") }}</span>
                            </div>
                            {{ password_form.confirm_new_password( class="inptbx form-control", placeholder="confirm password", id="inputGroupPrepend3") }}<br><br>
                        </div>
                    {% endmacro %}
                    {% macro reset_footer() %}
                        {{ password_form.submit(class='btn btn-warning') }}
                    {% endmacro %}
                    {{ modal(
                        modal_id=env.globals['secrets'].token_hex(12)|upper,
                        button_classes='btn-block btn-outline-warning',
                        button_text='Reset Password',
                        modal_title='Reset Password',
                        modal_header=True,
                        modal_body=True,
                        modal_footer=True,
                        body=reset_body(),
                        footer=reset_footer(),
                    ) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
