{% extends '_base.html' %}
{% block title %}Market{% endblock %}
{% block content %}
    <div class="container-fluid rounded jumbotron p-2 my-3 text-center jbtron">
        <div class="jumbotron fgc rounded p-3 my-2 {{ 'mb-4' if get_flashed_messages() }}">
            <h1>Hello {{ current_user.username }}, welcome to the Flask Marketplace.</h1>{{ spacer(1) }}
        </div>
        {{ errors() }}
    </div>
    <div class="jumbotron rounded container-fluid p-2 my-3 jbtron">
        <div class="jumbotron rounded bgc p-3 my-2">
            <div class="jumbotron rounded fgc p-3 my-2 {{ 'mb-4' if owned_items.count() > 0 }}">
                <h2>Owned Items</h2>
                <p>{% if owned_items.count() > 0 %}Click on sell item to put the item back on the market.{% else %}You currently have no items.{% endif %}</p>{{ spacer(1) }}
            </div>
            <div class="col">
                <div class="row">
                    {% for owned_item in owned_items %}
                        <div class="col-md-4" >
                            <div class="card text-center mb-4 bkg">
                                <div class="card-body my_content">
                                    <h5 class="card-title"><b><u>{{ owned_item.item_purchase.name }}</b></u></h5>
                                    {% macro sell_modal_body() %}
                                        <form method="POST" onsubmit="submit_sell_item_form.disabled=true;loadForm(this,'SellItemForm');">
                                            {{ sell_form.hidden_tag() }}
                                            <p class="text-left">Are you sure you want to sell your <b>{{ owned_item.item_purchase.name }}</b> for <b>${{ owned_item.item_purchase.price }}</b>?</p>
                                            {% set sold_item_counter = "sold_item_count-" + owned_item.barcode %}
                                            {{ sell_form.sell_count(max=owned_item.count) }}
                                    {% endmacro %}
                                    {% macro sell_modal_footer() %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <input id="form_name-{{ owned_item.id }}" name="form_name" type="hidden" value="sold_form">
                                            <input id="sold_item-{{ owned_item.id }}" name="sold_item" type="hidden" value='{{ {"id":owned_item.item_purchase.id,"name":owned_item.item_purchase.name,"price":int(owned_item.item_purchase.price),"barcode":owned_item.barcode,"description":owned_item.item_purchase.description,"stock":owned_item.count,"count":owned_item.owner} | tojson }}'>
                                            {{ sell_form.submit_sell_item_form }}
                                        </form>
                                    {% endmacro %}
                                    {% set mid = secrets.token_hex(12)|upper %}
                                    <p class="card-text"><strong>This item costs ${{ owned_item.item_purchase.price }} {% if owned_item.count > 1 %}each{% endif %}</strong></p>
                                    <button type="button" class="btn btn-outline btn-danger btn-block mb-3" data-bs-toggle="modal" data-bs-target="#Modal-{{ mid }}">Sell {{ owned_item.item_purchase.name }}</button>
                                    <p class="card-text">You have <b>{{ owned_item.count }}</b> {{ owned_item.item_purchase.name }} {% if owned_item.count > 1 %}items{% else %}item{% endif %}</p>
                                    {{ modal(
                                        modal_id=mid,
                                        button_id=mid,
                                        modal_title=add_icon('fa-money-bill',words_end=owned_item.item_purchase.name),
                                        modal_header=True,
                                        modal_body=True,
                                        modal_footer=True,
                                        body=sell_modal_body(),
                                        body_classes='text-left',
                                        footer=sell_modal_footer(),
                                        in_button=False,
                                        keep_close=False
                                    ) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron rounded p-2 my-3 container-fluid bgc">
        <div class="jumbotron rounded p-2 jbtron">
            <div class="jumbotron rounded fgc p-3 my-2 {{ 'mb-4' if purchased_items.count() > 0 }}">
                <h2>Available Items on the Market</h2>
                <p>{% if purchased_items.count() > 0 %}Click on one of the items to start buying.{% else %}The marketplace is currently out of stock.{% endif %}</p>{{ spacer(1) }}
            </div>
            <div class="overflow-auto">
                {% if purchased_items.count() > 0 %}
                    <table class="table table-hover table-bordered table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for purchased_item in purchased_items %}
                                <tr>
                                    <td>{{ purchased_item.name }}</td>
                                    <td>${{ purchased_item.price }}</td>
                                    <td>{{ purchased_item.stock }}</td>
                                    <td>
                                        <a class="btn btn-primary my-1" href="{{ url_for('market.comments_page',item=purchased_item.barcode) }}">Comment</a>
                                        {% macro info_body() %}
                                            <p><b>Item ID:</b> {{ purchased_item.id }}</p>
                                            <p><b>Stock:</b> {{ purchased_item.stock }}</p>
                                            <p><b>Price:</b> ${{ purchased_item.price }}</p>
                                            <p><b>Description:</b> {{ purchased_item.description }}</p>
                                            <p><b>Date Added:</b> {{ purchased_item.date_added }}</p>
                                            {% if purchased_item.last_updated %}
                                                <p><b>Last Updated:</b> {{ purchased_item.last_updated }}</p>
                                            {% endif %}
                                        {% endmacro %}
                                        {{ modal(
                                            modal_id=secrets.token_hex(12)|upper,
                                            button_classes='btn-outline btn-info my-1',
                                            button_text='More Info',
                                            modal_header=True,
                                            modal_body=True,
                                            modal_footer=True,
                                            modal_title=add_icon(classes='fa-circle-info',words_end=purchased_item.name),
                                            body=info_body(),
                                        ) }}
                                        {% macro purchase_body() %}
                                            <form method="POST" onsubmit="submit_purchase_item_form.disabled=true;loadForm(this,'PurchaseItemForm');">
                                                {{ purchase_form.hidden_tag() }}
                                                <p>Are you sure you want to buy a <b>{{ purchased_item.name }}</b> for <b>${{ purchased_item.price }}</b>?</p>
                                                {{ purchase_form.purchase_count(max=purchased_item.stock) }}
                                        {% endmacro %}
                                        {% macro purchase_footer() %}
                                                <input id="purchase_form_name-{{ purchased_item.id }}" name="form_name" type="hidden" value="purchase_form">
                                                <input id="unowned_item-{{ purchased_item.id }}" name="unowned_item" type="hidden" value='{{ {"id":purchased_item.id,"name":purchased_item.name,"price":int(purchased_item.price),"barcode":purchased_item.barcode,"description":purchased_item.description,"stock":purchased_item.stock} | tojson }}'>
                                                {{ purchase_form.submit_purchase_item_form }}
                                            </form>
                                        {% endmacro %}
                                        {{ modal(
                                            modal_id=secrets.token_hex(12)|upper,
                                            button_classes='btn-outline btn-success my-1',
                                            button_text='Purchase',
                                            modal_header=True,
                                            modal_body=True,
                                            modal_footer=True,
                                            modal_title=add_icon('fa-cart-shopping',words_end=purchased_item.name),
                                            body=purchase_body(),
                                            footer=purchase_footer()
                                        ) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="jumbotron fgc p-3 mb-2">
                        <h5 class="text-center"><b>Sorry but the store is currently out of stock</b></h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('market.static', filename='js/_market.js')}}"></script>
{% endblock %}
