{% extends '_base.html' %}
{% block title %}Inspector{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('administration.static', filename='css/_inspect.css') }}">
{% endblock %}
{% block content %}
    <div class="jumbotron container-xxl p-2 mx-4 text-center jbtron ">
        <div class="jumbotron fgc p-3 my-2  {{ "mb-4" if get_flashed_messages() }}">
            <h1>SQL Inspector</h1>
        </div>
        {{ errors() }}
    </div>
    <div class="jumbotron container-xxl p-2 ml-4 mr-4 jbtron pt-3">
        <form method="POST">
            {{ form.hidden_tag() }}
            <input id="pending_query_id" name="pending_query" type="hidden" value="{{ data['pending_query'] }}">
            <input id="json_key_id" name="json_key" type="hidden" value="{{ data['json_key'] }}">
            <input id="md5_hash_id" name="md5_hash" type="hidden" value="{{ data['md5_hash'] }}">
            <input id="file_path_id" name="file_path" type="hidden" value="{{ data['file_path'] }}">
            {{ form.text_body(class="d-grid", placeholder='Query Database') }}
            <div class="jumbotron bgc px-3 pb-4 pt-1 my-2">
                <div class="jumbotron fgc mt-3 p-2 mb-3">
                    {% for radio in form.example %}
                        <div class="form-check form-check-inline">
                            {% set radio_value = radio.data %}
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="{{ radio_value }}_id" value="{{ radio_value }}" {{ "checked" if radio_value == 'query_database' }}>
                            <label class="form-check-label" for="{{ radio_value }}">{{ radio.label }}</label>
                        </div>
                    {% endfor %}
                </div>
                {{ form.submit(class="btn btn-primary btn-block",id='submit_query_choice') }}
                <p class="jumbotron fgc mt-3 mb-0 p-2">{{ form.commit }} Commit
                    <span class="px-5">{{ form.rollback }} Rollback<span>
                </p>
            </div>
        </form>
    </div>
    <div class="jumbotron container-xxl px-2 pb-2 mx-4 jbtron pt-3 overflow-auto">
        {% if data['frozen_not_set'] or data['selected'] == None %}
            <div class="jumbotron fgc p-3 mb-2">
                <h5 class="text-center"><b>Your tables will show up here</b></h5>
            </div>
        {% else %}
            <table class="table table-hover table-bordered table-dark">
                <thead class="fgc">
                    {% if data['selected'] == 'query_database' %}
                        <tr>
                            {% for header in data['frozen_headers'] %}
                                <th scope="col">{{ header }}</th>
                            {% endfor %}
                        </tr>
                    {% elif data['selected'] == 'query_error_dump' %}
                        {% if loaded_error_dump['messages'] %}
                            {% if loaded_error_dump['messages']|length >= 3 %}
                                {% macro error_logs__body() %}
                                    <p>Are you sure you want to wipe your error logs?</p>
                                    <p>you will be clearing <b>{{ loaded_error_dump['messages']|length }}</b> entries.</p>
                                {% endmacro %}
                                {% macro error_logs_footer() %}
                                    <button class='btn btn-danger' onclick='deleteQueryEntry("delete_all_entries","{{ data['file_path'] }}","{{ data['selected'] }}")'>Confirm</button>
                                {% endmacro %}
                                {{ modal(
                                    modal_id=secrets.token_hex(12)|upper,
                                    button_classes='btn-block btn-danger mb-3',
                                    button_text='Clear Error Logs',
                                    modal_title='Clear Error Logs',
                                    button_id=secrets.token_hex(12)|upper,
                                    modal_header=True,
                                    modal_body=True,
                                    modal_footer=True,
                                    body=error_logs__body(),
                                    footer=error_logs_footer()
                                ) }}
                            {% endif %}
                            <tr>
                                {% for header in loaded_error_dump['headers'] %}
                                    <th scope="col">{{ header }}</th>
                                {% endfor %}
                                <th scope='col'>Options</th>
                            </tr>
                        {% else %}
                            <div class="jumbotron fgc p-3 mb-0">
                                <h5 class="text-center"><b>Your error logs will show up here</b></h5>
                            </div>
                        {% endif %}
                    {% elif data['selected'] == 'query_query_dump' %}
                        {% if data['pending_query'] %}
                            {% set loop_header = "table_data" %}
                            {% set loop_body = "table_body" %}
                        {% else %}
                            {% set loop_header = "headers" %}
                            {% set loop_body = "query_string" %}
                        {% endif %}
                            {% if  loop_header == "headers" %}
                                {% if loaded_query_dump['query_history'] %}
                                    {% if loaded_query_dump['query_history']|length >= 3 %}
                                        {% macro history_logs__body() %}
                                            <p>Are you sure you want to wipe your history logs?</p>
                                            <p>you will be clearing <b>{{ loaded_query_dump['query_history']|length }}</b> entries.</p>
                                        {% endmacro %}
                                        {% macro history_logs_footer() %}
                                            <button class='btn btn-danger' onclick='deleteQueryEntry("delete_all_entries","{{ data['file_path'] }}","{{ data['selected'] }}")'>Confirm</button>
                                        {% endmacro %}
                                        {{ modal(
                                            modal_id=secrets.token_hex(12)|upper,
                                            button_classes='btn-block btn-danger mb-3',
                                            button_text='Clear Query History Logs',
                                            modal_title='Clear Query History Logs',
                                            button_id=secrets.token_hex(12)|upper,
                                            modal_header=True,
                                            modal_body=True,
                                            modal_footer=True,
                                            body=history_logs__body(),
                                            footer=history_logs_footer()
                                        ) }}
                                    {% endif %}
                                    <tr>
                                        {% for header in loaded_query_dump[loop_header] %}
                                            <th scope="col">{{ header }}</th>
                                        {% endfor %}
                                        <th scope='col'>Options</th>
                                    </tr>
                                {% else %}
                                    <div class="jumbotron fgc p-3 mb-0">
                                        <h5 class="text-center"><b>Your history logs will show up here</b></h5>
                                    </div>
                                {% endif %}
                            {% else %}
                                <tr  scope='column'>
                                    {% for items in loaded_query_dump['query_history'] %}
                                        {% for md5_hash,query_string in items.items() %}
                                            {% if md5_hash == data['md5_hash'] %}
                                                <th scope='col'>#</th>
                                                {% for values in query_string['table_data'] %}
                                                    <th scope='col'>{{ values }}</th>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                    {% endif %}
                </thead>
                <tbody class='obgc'>
                    {% if data['selected'] == 'query_database' %}
                        {% for row in data['frozen_rows']() %}
                            <tr>
                                {% for column in row %}
                                    <td>{{ column }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% elif data['selected'] == 'query_error_dump' %}
                        {% for row in loaded_error_dump.messages %}
                            {% for md5_hash,column in row.items() %}
                                <tr>
                                    {% for value in column %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                    <td scope='col'>
                                        <button class='btn btn-danger' onclick='deleteQueryEntry("{{ md5_hash }}","{{ data['file_path'] }}","{{ data['selected'] }}")'>Delete Entry</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% elif data['selected'] == 'query_query_dump' %}
                        {% if loop_body == "query_string" %}
                            {% for items in loaded_query_dump.query_history %}
                                {% for md5_hash,query_string in items.items() %}
                                    <tr id= '{{ md5_hash }}' scope='column'>
                                        {% for values in query_string['query_string'] %}
                                            <td scope='col'>{{ values }}</td>
                                        {% endfor %}
                                        <td scope='col'>
                                            <button class='btn btn-primary my-1' onclick='fetchQueryLog("{{ md5_hash }}")'>Fetch Past Query</button>
                                            <button class='btn btn-danger my-1' onclick='deleteQueryEntry("{{ md5_hash }}","{{ data['file_path'] }}","{{ data['selected'] }}")'>Delete Entry</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <script>
                                document.getElementById('pending_query_id').value = 'False'
                                document.getElementById('md5_hash_id').value = 'None'
                                document.getElementById('file_path_id').value = 'None'
                            </script>
                            {% for items in loaded_query_dump.query_history %}
                                {% for md5_hash, table_body in items.items() %}
                                    {% if md5_hash == data['md5_hash'] %}
                                        {% for kwargs in table_body['table_body'] %}
                                            {% for keys,values in kwargs.items() %}
                                                <tr>
                                                    <td>{{ keys }}</td>
                                                    {% for value in values %}
                                                        <td>{{ value }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <script src="{{ url_for('administration.static', filename='js/_inspect.js')}}"></script>
{% endblock %}
