{% extends '_base.html' %}
{% block title %}Inspector{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('administration.static', filename='css/_inspect.css') }}">
{% endblock %}
{% block content %}
    <div class="jumbotron container-xxl p-2 ml-4 mr-4 text-center jbtron pt-3">
        <div class="jumbotron fgc p-3 mt-3">
            <h1>SQL Inspector</h1>
        </div>
        {{ errors() }}
    </div>
    <div class="jumbotron container-xxl p-2 ml-4 mr-4 jbtron pt-3">
        <form method="POST">
            {{ form.hidden_tag() }}
            <input id="pending_query_id" name="pending_query" type="hidden" value="{{ data['pending_query'] }}">
            <input id="done_query_id" name="done_query" type="hidden" value="{{ data['done_query'] }}">
            <input id="md5_hash_id" name="md5_hash" type="hidden" value="{{ data['md5_hash'] }}">
            {{ form.text_body(class="btn-block") }}
            <div class="jumbotron fgc mt-3 p-2 mb-3">
                {% for radio in form.example %}
                    <div class="form-check form-check-inline">
                        {% set radio_value = radio.data %}
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="{{ radio_value }}_id" value="{{ radio_value }}" {{ "checked" if radio_value == 'query_database' }}>
                        <label class="form-check-label" for="{{ radio_value }}">{{ radio.label }}</label>
                    </div>
                {% endfor %}
                </div>

            {{ form.submit(class="btn btn-primary btn-block",id='submit_query_choice') }}
            <p class="jumbotron fgc mt-3 p-2">{{ form.commit }} Commit
                <span class="px-5">{{ form.rollback }} Rollback<span>
            </p>
        </form>
    </div>
    <div class="jumbotron container-xxl p-2 ml-4 mr-4 jbtron pt-3 overflow-auto">
        {% if data['frozen_not_set'] or data['selected'] == None %}
            <h5 class="text-center"><b>Your tables will show up here</b></h5>
        {% else %}
            <table class="table table-hover table-bordered table-dark">
                <thead class="fgc">
                    {% if data['selected'] == 'query_database' %}
                        <tr>
                            {% for header in data['frozen_headers'] %}
                                <th scope="col">{{ header }}</th>
                            {% endfor %}
                        </tr>
                    {% elif data['selected'] == 'query_error_dump' %}
                        <tr>
                            {% for header in loaded_error_dump['headers'] %}
                                <th scope="col">{{ header }}</th>
                            {% endfor %}
                        </tr>
                    {% elif data['selected'] == 'query_query_dump' %}
                        {% if data['pending_query'] %}
                            {% set loop_header = "table_data" %}
                            {% set loop_body = "table_body" %}
                        {% else %}
                            {% set loop_header = "headers" %}
                            {% set loop_body = "query_string" %}
                        {% endif %}
                            {% if  loop_header == "headers" %}
                                <tr>
                                    {% for header in loaded_query_dump[loop_header] %}
                                        <th scope="col">{{ header }}</th>
                                    {% endfor %}
                                    <th scope='col'>Options</th>
                                </tr>
                            {% else %}
                                <tr  scope='column'>
                                    {% for items in loaded_query_dump.query_history %}
                                        {% for md5_hash,query_string in items.items() %}
                                            {% if md5_hash == data['md5_hash'] %}
                                                <th scope='col'>#</th>
                                                {% for values in query_string['table_data'] %}
                                                    <th scope='col'>{{ values }}</th>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                    {% endif %}
                </thead>
                <tbody>
                    {% if data['selected'] == 'query_database' %}
                        {% for row in data['frozen_rows']() %}
                            <tr>
                                {% for column in row %}
                                    <td>{{ column }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% elif data['selected'] == 'query_error_dump' %}
                        {% for row in loaded_error_dump['messages'] %}
                            {% for column in row.values() %}
                                <tr>
                                    {% for value in column %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% elif data['selected'] == 'query_query_dump' %}
                        {% if loop_body == "query_string" %}
                            {% for items in loaded_query_dump.query_history %}
                                {% for md5_hash,query_string in items.items() %}
                                    <tr id= '{{ md5_hash }}' scope='column'>
                                        {% for values in query_string['query_string'] %}
                                            <td scope='col'>{{ values }}</td>
                                        {% endfor %}
                                        <td scope='col'>
                                            <button class='btn btn-primary' onclick='fetchQueryLog("{{ md5_hash }}")'>Fetch Query</button>
                                            <button class='btn btn-danger' onclick='deleteQueryEntry("{{ md5_hash }}")'>Delete Entry</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <script>
                                document.getElementById('pending_query_id').value = 'False'
                                document.getElementById('md5_hash_id').value = 'None'
                            </script>
                            {% for items in loaded_query_dump.query_history %}
                                {% for md5_hash, table_body in items.items() %}
                                    {% if md5_hash == data['md5_hash'] %}
                                        {% for kwargs in table_body['table_body'] %}
                                            {% for keys,values in kwargs.items() %}
                                                <tr>
                                                    <td>{{ keys }}</td>
                                                    {% for value in values %}
                                                        <td>{{ value }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/_inspect.js')}}"></script>
{% endblock %}
