{% extends '_base.html' %}
{% block title %}Presentation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('information.static', filename='css/_presentation.css') }}">
{% endblock %}
{% block content %}
    <div class="container-fluid jumbotron p-2 my-3 text-center rounded jbtron">
        <div class="jumbotron fgc rounded p-3 my-2">
            <h1>Quality Queries</h1>
            <h3>Christopher Asante, Yunhai Yang, Pablo Bazaes, Benjamin Wilson</h3>
        </div>
    </div>
    <div id="qualityQueriesCarouselContainer" class="my-3">
        <div id="qualityQueriesCarousel" class="carousel carousel-dark slide carousel-fade">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#qualityQueriesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#qualityQueriesCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#qualityQueriesCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#qualityQueriesCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#qualityQueriesCarousel" data-bs-slide-to="4" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active qualityQueriesCarouselItem">
                    <img src="{{ url_for('information.static', filename='img/F12EBB76B5C0C26F467EC95A23CA1AB888292FF08A72A206D1B10EB009E856A6.webp')}}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="text-center jbtron p-1 jumbotron rounded" style="background: rgba(0, 0, 0, 0.7);">
                        <h1>Python with Flask and SQLAlchemy</h1>
                        <p>Your SQL journey begins here.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item qualityQueriesCarouselItem">
                    <img src="{{ url_for('information.static', filename='img/46F55F71F019B6D3DA7AC3CD413627002FA3324E3417DB4DD449790DFBA52DB0.webp')}}" class="d-block w-100" alt="...">
                    <div class="carousel-caption start-0 top-0 col-7 d-none d-md-block">
                        <div class="jbtron text-start ps-2 rounded-end py-2 mx-auto jumbotron" style="background: rgba(0, 0, 0, 0.7);">
                            <p>
                                - SQL is a language for working with data in databases.{{ spacer(1) }}
                                - Tells the database what data you want, not how to get it.{{ spacer(1) }}
                                - Uses tables to store data. Tables have rows and columns, like a spreadsheet.{{ spacer(1) }}
                                - Has many versions, but they all follow a standard.{{ spacer(1) }}
                                - The language is used in various industries for handling vast amounts of data.{{ spacer(1) }}
                                - Helps people store and retrieve important information.{{ spacer(1) }}
                                - Ensures that your data is well-organized and easily accessible.{{ spacer(1) }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item qualityQueriesCarouselItem">
                    <img src="{{ url_for('information.static', filename='img/50C44B7E641BFC56C7FC9A48A5A9480AF39AC94133E0120B853693EEC3436626.webp')}}" class="d-block w-100" alt="...">
                    <div class="carousel-caption  start-0  col-5 text-white d-none d-md-block">
                        <div class="jbtron text-start ps-2 rounded-start py-2 mx-auto jumbotron" style="background: rgba(0, 0, 0, 0.7);">
                            <p class="text-start">
                                - SQL is the language of data.{{ spacer(1) }}
                                - SQL is everywhere and essential for many aspects of our lives.{{ spacer(1) }}
                                - SQL empowers us to discover insights and knowledge from data.{{ spacer(1) }}
                                - SQL is a universal and transferable skill.{{ spacer(1) }}
                                - SQL can be applied to various domains and industries.{{ spacer(1) }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item qualityQueriesCarouselItem">
                    <img src="{{ url_for('information.static', filename='img/B1C24B8980EB583C02AD3DEF9CE0FBDB8533CE961890DA39A09AA49DBB160A33.webp')}}" class="d-block w-100" alt="...">
                    <div class="carousel-caption top-0 col-12 d-md-block text-white">
                        <div class="jbtron text-start rounded-bottom py-2 ps-2 mx-auto jumbotron" style="background: rgba(0, 0, 0, 0.7);">
                            <p class="text-start">
                                - <i><b>Marketing:</b></i> Helps analyze customer behavior, segment customers, track campaigns, and optimize conversions.{{ spacer(1) }}
                                - <i><b>Backend Development:</b></i> Helps manipulate data for web applications.{{ spacer(1) }}
                                - <i><b>Accounting:</b></i> Helps store, retrieve, and analyze financial data, as well as generate reports and invoices.{{ spacer(1) }}
                                - <i><b>Data Engineering:</b></i> Helps design, build, and maintain data pipelines.{{ spacer(1) }}
                                - <i><b>Data Science:</b></i> Helps accessing, cleaning, and exploring data, as well as perform statistical analysis and machine learning.{{ spacer(1) }}
                                - <i><b>Data Analysis:</b></i> Help query, transform, and visualize data, as well as generate insights and recommendations.{{ spacer(1) }}
                                - <i><b>Customer Relationship Management:</b></i> Helps store and manage customer information, such as contact details, preferences and feedback.{{ spacer(1) }}
                                - <i><b>Social Media Platforms:</b></i> Helps platforms store and manage user profiles, posts, comments, likes, shares, and other activities.{{ spacer(1) }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item qualityQueriesCarouselItem">
                    <img src="{{ url_for('information.static', filename='img/908CDBD7049C947441F99DD19D55A0A6FC3D68155FC579D00F223F56B0E19752.webp')}}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1><i><b>Conclusion</b></i></h1>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#qualityQueriesCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#qualityQueriesCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div id="qualityQueries" class="rounded jumbotron container-fluid p-2 my-3 jbtron"></div>
    <script src="{{ url_for('information.static', filename='js/_presentation.js')}}"></script>
{% endblock %}
